# This is Git's per-user configuration file.
[user]
	name = xsw
	email = wen.x.serena@hotmail.com
[alias]
	co = checkout
	br = branch
        brd = branch --delete
	st = status
	cia = commit -am
	ci = commit -m
        cb = checkout -b
	last = log -1 HEAD
	aliasL = config --get-regexp alias
	aliasD = config --global --unset
        aliasA = config --global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
